.card_image_dim {
    position: relative;
    overflow: hidden;
  }
  
  .card_image_dim img {
    transition: transform 0.3s ease;
  }
  
  .card_image_dim::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(0 0 0 / 42%), rgb(0 0 0 / 44%));
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card_image_dim:hover img {
    transform: scale(1.1);
    
  }
  .card_image_dim:hover  {
    cursor: pointer;
  }
  
  .card_image_dim:hover::after {
    opacity: 1;
  }

  .card_section .card {
    border-color: goldenrod!important;
    box-shadow: 0 0 4px 1px rgb(88 75 1 / 60%);
  }
  .card_body_style{
    background-color: black!important;
    
  }
  